<mat-nav-list class="no-print">
  <a mat-list-item  class="inv-list-item" routerLink="/" (click)="onSidenavToggle()"><mat-icon>home</mat-icon><span>Home</span></a>
  <a mat-list-item  class="inv-list-item" routerLink="/" (click)="onSidenavToggle()"><mat-icon>person</mat-icon><span>Sign in</span></a>
  <a mat-list-item class="inv-list-item" routerLink="/" (click)="onSidenavToggle()"><mat-icon>person_add</mat-icon><span>Sign up</span></a>
  <a mat-list-item  class="inv-list-item" routerLink="/" (click)="onSidenavToggle()"><mat-icon>fitness_center</mat-icon><span>Training</span></a>
</mat-nav-list>
