mat-form-field{
  width: 100%;
}
mat-icon:hover{
  cursor: pointer;
}
.file{
  background: white;
  border-radius: 2px;
  transition: 500ms;
}
/* Status Start*/
.status{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}
.status .status-body{
  width: 80%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* Status end */
