<div class="inv-header d-flex">
  <h2 class="ml-auto mr-auto">Create New Purchase</h2>
</div>
<div class="container pb-5">
  <form #f="ngForm" (ngSubmit)="addExpense(f)">
    <div class="row mb-3">
      <div class="col-sm-12">
        <mat-card class="card-shadow mb-3 mt-3" style="width: 100%">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input type="text"
                       (keyup) ="getEmployeeByName()"
                       placeholder="Enter employee name" required
                       aria-label="Number" matInput [matAutocomplete]="employeeAc"
                       [(ngModel)] = "employeeText"
                       #supplierInput = "ngModel"
                       name="employee">
                <mat-autocomplete #employeeAc="matAutocomplete"  >
                  <mat-option *ngFor="let option of employeeOptions" [value]="option.name" (onSelectionChange)="onEmployeeChange(option)">
                    {{  option.code + ' - (' + option.name +')'}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="supplierInput.hasError('required')">Employee is required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field>
                <input type="number" matInput
                       #expenseAmountInput = "ngModel"
                       name = "sellPrice"
                       required
                       [(ngModel)]="expense.amount"
                       placeholder="Expense amount"
                       ngModel>
                <mat-error *ngIf="expenseAmountInput.hasError('required')">Expense amount is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field>
                <div class="mb-3">Expense Details</div>
                <textarea matInput
                          [froalaEditor]="{
                    placeholderText: 'Enter Expense details here...',
                    imageUpload: false,
                    videoUpload: false
                    }"
                          name="details"
                          id="" cols="30"
                          ngModel
                          [(ngModel)]="expense.details"
                          #detailsInput="ngModel"
                          rows="10"></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <div class="d-flex">
                <button class="ml-auto" mat-raised-button
                        type="submit" color="primary"
                        [disabled]="f.invalid || editFlag == false">Add Item</button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-sm-12 mb-3 mt-3">
        <mat-card style="width: 100%">
          <div class="form-group">
            <input type="file" multiple class="form-control"
                   (change)="onFilesSelect($event)"
                   matTooltip="Select multiple files">
          </div>
          <div class="row">
            <div class="col-md-6" *ngFor="let file of files">
              <div class="d-flex bg-dark align-content-between px-4 pb-2 pt-3 m-1 file" >
                <div>{{file.name}}</div>
                <mat-icon class="ml-auto" (click)="onFileRemove(file)">close</mat-icon>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </form>
  <div class="row">
    <div class="col-sm-12 mt-3">
      <mat-card>
        <div class="table-responsive mt-3 mb-3">
          <table class="table">
            <thead>
            <tr>
              <th>Sl.</th>
              <th>Details</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of expenseInvoice.expense_items; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item?.details}}</td>
              <td>{{item?.amount | currency: 'BDT '}}</td>
              <td>
                <button mat-icon-button color="warn"
                        (click)="deleteItem(item)"
                        matTooltip="Delete Item">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>

            <tr *ngIf="expenseInvoice.expense_items.length>0">
              <td colspan="2">
                <div class="d-flex">
                  <b class="ml-auto">Total: </b>
                </div>
              </td>
              <td colspan="2"><b>{{getTotal() | currency: 'BDT '}}</b></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="ml-auto">
            <button mat-raised-button color="primary"
                    (click)="onExpense()"
                    [disabled]="expenseInvoice.expense_items.length==0 || editFlag == false"
                    class="ml-auto mr-3">Create Expense</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>







<div class="status" *ngIf="statusFlag == true">
  <div class="status-body">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{message.title}}</h5>
        <p class="card-text">{{message.details}}</p>
        <div class="d-flex">
          <button mat-raised-button color="warn"
                  (click)="onStatusClose()"
                  class="ml-auto">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
